body::before {
	display: block;
	content: "";
	height: 60px;
}

@media (min-width: 768px) {
	.news-input {
		width: 50%;
	}
}

.nav-item {
	margin-right: 50px;
}

/* .nav-item:hover {
	text-decoration: underline;
	background-color: green;
	border-radius: 2px;
} */

.testimonial-img {
	border-radius: 50%;
}

.social-media-icon {
	margin-right: 30px;
}

.footer {
	padding-bottom: 0;
}
